.carousel-indicators {
	margin-bottom: 0px;
}
.carousel-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 10px;
	text-indent: 0;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	background-color: #0000ff;
	box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
	pointer-events: none;
}
.carousel-indicators .active {
	width: 10px;
	height: 10px;
	margin: 10px;
	background-color: #ffff99;
}
.carousel-item {
	height: 420px;
}

.carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 100%;
}
ul {
	list-style-type: none;
	padding-left: 20px;
}

li {
	display: inline-block;
}