html {
    scroll-behavior: smooth;
}

@media screen and (min-width:1000px) {
    .desktop-br {display: inline;}
    .mobile-br {display: none;}
}

@media screen and (max-width:550px) {
    .desktop-br {display: none;}
    .mobile-br {display: inline;}
}

@media screen and (max-width: 768px){
    .navbar-brand {width: 200px;}
}

@media screen and (max-height: 1024px){
    .parallax { min-height: 400px;}
}
@media screen and (min-width: 914px){
    .jumbotron {
        display: flex;
        justify-content: space-between;
    }
    .footerRight {
    text-align: right;
    }
    .br-temp {
        display: none;
    }
}
.fadeIn {
    -webkit-animation: fadein 2s linear forwards;
    animation: fadein 2s linear forwards;
}

.btn-danger:hover {
    color: #fff;
    background-color: #700b15;
    border-color: #6b0a13;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0655aa;
    border-color: #00448d;
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadein {
  0% { opacity: 0; }
  50% { opacity: 1; }
}
